/* medimu device */
@media (max-width: 992px) and (min-width: 576px) {
  /* hero section */
  .hero {
    height: auto;
  }

  /* nav bar */
  .hero nav {
    margin: 2rem 0;
    width: 90%;
  }

  .hero nav .logo {
    font-family: Inter;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary-color);
  }

  .hero nav ul li {
    padding: 0.5rem 1.2rem;
    border-radius: 3rem;
    font-size: 0.5rem;
  }

  .hero nav ul .btn {
    background: var(--primary-color);
  }
}
