/* medimu device */
@media (max-width: 992px) and (min-width: 576px) {
  /* hero section */
  .hero {
    height: auto;
  }

  /* nav bar */
  .hero nav {
    margin: 2rem 0;
    width: 90%;
  }

  .hero nav .logo {
    font-family: Inter;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary-color);
  }

  .hero nav ul li {
    padding: 0.5rem 1.2rem;
    border-radius: 3rem;
    font-size: 0.5rem;
  }

  .hero nav ul .btn {
    background: var(--primary-color);
  }

  /* hero box */
  .hero .hero-box {
    width: 90%;
    flex-direction: column;
    margin-top: 4rem;
  }

  /*  your habit */
  .change-habit .main-box {
    margin: 0 2rem;
  }

  .change-habit .main-box .skills {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  .change-habit .main-box .skills .cards {
    max-width: 15rem;
  }

  .change-habit .main-box .skills .cards img {
    width: 60%;
  }

  /* run an extra mile */
  .run .run-extra {
    max-width: 90%;
    gap: 2rem;
  }

  .run .run-extra .text,
  .run .run-extra .img {
    margin: 0;
  }

  .run .run-extra .text {
    margin-left: 3rem;
  }

  .run .run-extra .img {
    margin-right: 3rem;
  }

  .run .run-extra .img {
    height: 10rem;
    width: 10rem;
  }
}
