/* small device */
@media (max-width: 575px) {
  /* hero section */
  /* nav bar */
  .hero nav {
    width: 90%;
    align-items: center;
  }
  .hero nav img {
    display: inline;
    height: 1rem;
  }

  .hero nav ul {
    display: none;
  }
}
