/* small device */
@media (max-width: 575px) {
  /* shared styles */
  .miama-font {
    font-size: 6rem;
  }

  .primary-btn {
    padding: 0.8rem 1.5rem;
    font-size: 0.6rem;
  }

  .secondary-btn {
    padding: 0.8rem 1.5rem;
    font-size: 0.6rem;
  }

  /* hero section */
  .hero {
    height: auto;
  }

  /* nav bar */
  .hero nav {
    width: 90%;
    align-items: center;
  }
  .hero nav img {
    display: inline;
    height: 1rem;
  }

  .hero nav ul {
    display: none;
  }

  /* hero box */
  /* hero box */
  .hero .hero-box {
    width: 90%;
    flex-direction: column;
    margin-top: 4rem;
  }

  .hero .hero-box .text h1 {
    font-size: 3rem;
  }

  .hero .hero-box .text p {
    font-size: 0.8rem;
  }

  /* image section */
  .hero .hero-box .img img {
    height: 30rem;
  }

  .hero .hero-box .img .side-box {
    border-radius: 0.5rem;
    backdrop-filter: blur(1rem);
  }

  .hero .hero-box .img .side-box-top {
    width: 5rem;
    top: 12rem;
    left: 10rem;
  }

  .hero .hero-box .img .side-box-bottom {
    top: -10rem;
    left: 0;
    width: 8rem;
  }

  .hero .hero-box .img .side-box .circle {
    height: 2rem;
    width: 2rem;
  }

  .hero .hero-box .img .side-box h1 {
    font-size: 1rem;
  }

  .hero .hero-box .img .side-box p {
    font-size: 0.5rem;
  }

  /*  your habit */
  .change-habit .main-box {
    margin: 0 2rem;
  }

  .change-habit .main-box .skills {
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
  }

  .change-habit .main-box .skills .cards {
    max-width: 20rem;
  }

  .change-habit .main-box .skills .cards img {
    width: 60%;
  }

  /* run an extra mile */
  .run .run-extra {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    gap: 2rem;

    padding: 3rem 0 1rem 0;
  }

  .run .run-extra .text,
  .run .run-extra .img {
    margin: 0 3rem;
  }

  .run .run-extra .img {
    height: auto;
    width: 90%;
    object-fit: cover;
  }

  .run .run-extra .text .title {
    font-size: 2rem;
  }
}
