* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(34, 34, 34);
  color: white;
}

/* hero section */
.hero {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  height: 100vh;
}
