/* font families */
/* inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* miama */
@import url("https://fonts.cdnfonts.com/css/miama");

/* root properties */
:root {
  --primary-bg: black;
  --hero-bg: rgb(34, 34, 34);
  --primary-color: rgb(230, 83, 60);
  --secondary-color: rgba(255, 255, 255, 0.5);
}

/* universal styles */
* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

body {
  color: white;
  background: var(--primary-bg);
}

/* shared styles */
.m-r-2 {
  margin-right: 2rem;
}

.miama-font {
  font-family: miama;
  font-size: 9rem;
  line-height: 1rem;
  font-weight: 400;
}

.primary-btn {
  background: var(--primary-color);
  color: white;
  font-size: 1rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
}

.secondary-btn {
  background: none;
  color: white;
  font-size: 1rem;
  padding: 1rem 3rem;
  border: 2px solid white;
  border-radius: 2rem;
}

.secondary-color {
  color: var(--secondary-color);
}

/* hero section */
.hero {
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0),
    rgba(119, 119, 119, 0.3) 100%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* nav bar */
.hero nav {
  margin: 2rem 0;
  max-width: 992px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0.1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
}

.hero nav img {
  display: none;
}

.hero nav .logo {
  font-family: Inter;
  font-style: italic;
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary-color);
}

.hero nav ul li {
  padding: 0.5rem 1.2rem;
  border-radius: 3rem;
}

.hero nav ul .btn {
  background: var(--primary-color);
}

/* hero box */
.hero .hero-box {
  max-width: 992px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .hero-box .text {
  max-width: 35rem;
}

.hero .hero-box .text h1 {
  font-size: 4.5rem;
}

.hero .hero-box .text h1,
.hero .hero-box .text p {
  margin-bottom: 2rem;
}

.hero .hero-box .text p {
  color: var(--secondary-color);
}

/* image section */
.hero .hero-box .img {
  margin: -4rem 0;
}

.hero .hero-box .img .side-box {
  border-radius: 0.8rem;
  backdrop-filter: blur(1.2rem);
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.hero .hero-box .img img {
  height: 30rem;
}

.hero .hero-box .img .side-box-top {
  background: rgba(255, 255, 255, 0.1);
  width: 10rem;
  top: 15rem;
  left: 10rem;
}

.hero .hero-box .img .side-box-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: rgba(48, 48, 48, 0.54);
  top: -10rem;
  left: -5rem;
  width: 10rem;
}

.hero .hero-box .img .side-box .circle {
  height: 2.5rem;
  width: 2.5rem;
  background: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero-box .img .side-box .circle img {
  height: 50%;
}

.hero .hero-box .img .side-box h1 {
  font-size: 1.5rem;
  margin: 0;
}

.hero .hero-box .img .side-box p {
  margin: 0;
  color: var(--secondary-color);
}

/*  your habit */
.change-habit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 6rem 0;
}

.change-habit .main-box {
  max-width: 992px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.change-habit .main-box .head {
  max-width: 40rem;
  margin-bottom: 2rem;
}

.change-habit .main-box .head h1,
.change-habit .main-box .head p {
  margin: 1rem 0;
}

.change-habit .main-box .head h1 {
  font-size: 3rem;
}

.change-habit .main-box .head p {
  font-size: 0.8rem;
}

.change-habit .main-box .skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.change-habit .main-box .skills .cards img {
  border-radius: 50%;
  border: 0.3rem solid rgba(255, 255, 255, 0.1);
  margin-bottom: 2rem;
}

.change-habit .main-box .skills .cards h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.change-habit .main-box .skills .cards p {
  font-size: 0.8rem;
}

/* run an extra mile */
.run {
  display: flex;
  align-items: center;
  justify-content: center;
}

.run .run-extra {
  background: var(--hero-bg);
  padding: 3rem 0;
  max-width: 992px;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.run .run-extra .text,
.run .run-extra .img {
  margin: 0 3rem;
  max-width: 30rem;
}

.run .run-extra .img {
  background: url("../images/run.jpg");
  height: 20rem;
  width: 20rem;
}

.run .run-extra .text h1 {
  font-size: 3rem;
}

.run .run-extra .text p {
  font-size: 0.8rem;
  margin: 1rem 0;
}
